<% if curation_concern.image? %>
  <a href="<%= download_path(curation_concern) %>" target="_new"><img src="<%= download_path(curation_concern) %>" class="thumbnail"/></a>
<% elsif curation_concern.pdf?%>
  <a href="<%= download_path(curation_concern) %>" target="_new"><img src="<%= download_path(curation_concern, {:datastream_id => 'thumbnail'}) %>" class="thumbnail" /></a>
<% else %>
  <a href="<%= download_path(curation_concern) %>" target="_new"><img src="/assets/default.png" alt="No preview available" class="thumbnail" /></a>
<% end %>