<table class="table table-striped <%= dom_class(curation_concern) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>
  <%= curation_concern_attribute_to_html(curation_concern, :title, 'Title', include_empty: true) %>
  <%= curation_concern_attribute_to_html(curation_concern, :creator, 'Creator(s)', include_empty: true) %>
  <%= curation_concern_attribute_to_url_html(curation_concern, :related_url, 'Related URL', include_empty: true) %>
  <%= curation_concern_attribute_to_html(curation_concern, :based_near, 'Location Name', include_empty: true) %>
  <%= curation_concern_attribute_to_html(curation_concern, :description, 'Abstract or Summary') %>
  <%= curation_concern_attribute_to_html(curation_concern, :language, "Language", include_empty: true) %>
  <%= curation_concern_attribute_to_html(curation_concern, :resource_type, "Resource Type", include_empty: true) %>
  <%= curation_concern_attribute_to_html(curation_concern, :publisher, "Publisher", include_empty: true) %>
  <%= curation_concern_attribute_to_html(curation_concern, :rights, "Rights", include_empty: true) %>
  <%= curation_concern_attribute_to_html(curation_concern, :subject, "Subject", include_empty: true) %>
  <%= curation_concern_attribute_to_html(curation_concern, :tag, "Keyword(s) or phrase(s)", include_empty: true) %>
  <%= curation_concern_attribute_to_html(curation_concern, :identifier, "Identifier", include_empty: true) %>
  <%= curation_concern_attribute_to_html(curation_concern, :date_created, "Date Created", include_empty: true) %>
  <%= curation_concern_attribute_to_html(curation_concern, :bibliographic_citation , "Bibliographic Citation", include_empty: true) %>
  <%# curation_concern_attribute_to_html(curation_concern, :temporals , "Time period(s) of Content", include_empty: true) %>
  </tbody>
</table>
