<%= simple_form_for [:curation_concern, curation_concern] do |f| %>
    <% if f.error_notification -%>
      <div class="alert alert-error fade in">
        There was a problem with your submission. Please review the errors below:
          <a class="close" data-dismiss="alert" href="#">&times;</a>
      </div>
    <% end -%>

    <fieldset>
      <%= render "attribute_input", curation_concern: curation_concern, f: f %>
    </fieldset>

    <%= render '/curation_concern/content_license', f: f %>
    <%= render "/curation_concern/permission", curation_concern: curation_concern, f: f %>

    <div class="row">
      <div class="span12 form-actions">
        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
          <i class="icon-save"></i> Save
        <% end %>
        <%= link_to 'Cancel', admin_dashboard_index_path, class: 'btn btn-link' %>
      </div>
    </div>
<% end %>


