<% content_for :page_title, curation_concern_page_title(curation_concern) -%>
<% content_for :page_header do -%>
  <h2><%= curation_concern %></h2>
<% end -%>

<%= render partial: "curation_concern/edit_links", locals: {curation_concern: curation_concern} %>

<div class="row">
  <div class="span3">
    <%= render :partial => 'curation_concern/thumbnail_display', locals: {curation_concern: curation_concern}  %>
  </div>
  <div class="span9">
    <%= render "curation_concern/attributes", curation_concern: curation_concern %>
  </div>
</div>

<%= render 'curation_concern/citation_files', curation_concern: curation_concern %>
