    <ul class="nav pull-right">
      <% if Rails.env == 'production'
        vecnet_domain = 'https://www.vecnet.org'
        ci_domain = 'https://ci.vecnet.org'
      else
        vecnet_domain = 'https://www.dev.vecnet.org'
        ci_domain = 'https://vecnet-qa.crc.nd.edu'
      end -%>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Work<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="<%= vecnet_domain %>/index.php/about-vecnet">About VecNet</a></li>
          <li><a href="<%= vecnet_domain %>/index.php/about-vecnet/information-sharing">Information Sharing</a></li>
          <li><a href="<%= vecnet_domain %>/index.php/about-vecnet/collaborations">Collaborations</a></li>
          <li><a href="<%= vecnet_domain %>/index.php/about-vecnet/faq">FAQ</a></li>
          <li><a href="<%= vecnet_domain %>/index.php/about-vecnet/vecnet-how-to">VecNet How To</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="<%= ci_domain %>/datawarehouse/">Data Warehouse Browser</a></li>
          <li><a href="/">Digital Library</a></li>
          <li><a href="<%= ci_domain %>/ts/">Transmission Simulator</a></li>
          <% if current_user -%>
            <li class="divider"></li>
            <li><%= link_to "My Uploads", dashboard_index_path %></li>
            <% if current_user.admin? -%>
              <li><%= link_to "Admin Dashboard", admin_dashboard_index_path -%>
            <% end -%>
          <% end -%>
        </ul>
      </li>
      <li><a href="<%= vecnet_domain %>/index.php/contact-us">Contact Us</a></li>
      <% if current_user -%>
        <li><%= link_to "Logout (#{current_user.name})", user_logout_url %></li>
      <% else -%>
        <li><%= link_to "Login", user_login_url(request.original_url) %></li>
      <% end -%>
    </ul><!-- /.nav /.pull-right -->
