
    <ul class="nav pull-right">
      <li><a href="about">About</a></li>
      <li><a href="contact">Contact</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="http://vecnet-web.crc.nd.edu/expert_emod/">EMOD Expert Interface</a></li>
          <li><a href="http://vecnet-web.crc.nd.edu/expert_openmalaria/">OpenMalaria Expert Interface</a></li>
          <li><a href="http://vecnet-web.crc.nd.edu/datawarehouse/">Datawarehouse</a></li>
          <li><a href="http://vecnet-web.crc.nd.edu/ts/">Transmission Simulator</a></li>
          <li><a href="http://Dl-vecnet.crc.nd.edu">Meta-data repository</a></li>
        </ul>
      </li>
      <li <%= 'class=active' if params[:controller] == "static" and action_name == "help" %>>
        <%= link_to "Help", "/help" %>
      </li>
      <li>
        <div class="btn-group">
          <% if current_user %>
            <a href="<%= profile_path(current_user) %>" class="btn btn-small " title="click for User Profile">
              <i class="icon-user">&nbsp;</i><%= current_user.name %>
            </a>
            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
              <b class="caret" title="click for additional menu options"></b>
            </a>
            <ul class="dropdown-menu">
              <%= bootstrap_navigation_element 'My Dashboard',     dashboard_index_path -%>
              <%= bootstrap_navigation_element 'Upload a file', new_classify_concern_path -%>
              <%= bootstrap_navigation_element 'Search',        catalog_index_path   -%>
              <%= render :partial => 'role_dashboard/roles.html.erb'%>
              <%= render :partial => 'admin_dashboard/admin.html.erb'%>
              <li><%# link_to raw('<i class="icon-cog"></i> edit profile'), edit_profile_path(current_user.login), :id => 'upload_nav_link'  %></li>
              <li class="divider"></li>
              <li><%= link_to raw('<i class="signout"></i> log out'), destroy_user_session_path, :id => 'logout_nav_link' %></li>
            </ul>
          <% else %>
            <%= link_to raw('<i class="signin"></i> Login'), new_user_session_path, :class => "btn btn-small" %>
          <% end %>
        </div><!-- /.btn-group -->
      </li>
    </ul><!-- /.nav /.pull-right -->


