<% content_for :page_title, "#{application_name} Search Results" %>

<% content_for :sidebar do %>
  <% if current_user -%>
    <%= link_to raw('<i class="icon-file icon-large"></i> Upload a File'), new_classify_concern_path, :class => "btn btn-default" %>
  <% end -%>
  <%= render 'facets' %>
<% end %>
<div class="span6">
  <%=render 'shared/site_search' %>
  <%= render 'search_page' %>
</div>

<% if has_search_parameters? %>
  <div class="row">
    <div class="span6"> <h3>Search Results</h3> </div>
  </div>

  <%= render :partial => 'did_you_mean' %>
  <%= render :partial => 'constraints' %>
  <%= render_pagination_info @response, :entry_name=>'item' %>
  <%= render 'sort_and_per_page' %>
  <%= render 'results_pagination' %>

  <%= render 'document_list' %>

  <%= render 'results_pagination' %>

<% else %>
    <div class="row">
      <div class="span6">
        <%= render 'home' %>
      </div>
    </div>


<% end %>
