<% content_for :page_title, "#{application_name} Search Results" %>

<% content_for :page_header do %>
  <div class="row">
    <div class="span8">
      <h2>Search <%=t('sufia.product_name') %></h2>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render 'facets' %>
<% end %>

<div class="span8">
  <div id="simple-search-form" class="expand">
    <%=render 'shared/site_search' %>
  </div>
    <div class="btn-group" data-toggle="buttons-checkbox">
      <a class="advanced btn btn-primary" data-toggle="collapse" href="#advanced-search-form">Advanced Search</a>
    </div>
    <div id="advanced-search-form" class="collapse-notnow">
      <%=render 'advanced/advanced_search_form' %>
    </div>
</div>
<% if has_search_parameters? %>
  <div class="row">
    <div class="span6"> <h3>Search Results</h3> </div>
    <div class="span3"> <%= link_to "New Search", catalog_index_path, :id=>"startOverLink", :class=>"btn btn-primary" %> </div>
  </div>
  <div class="alert alert-info search-constraints">
    <i class="icon-search icon-large"></i>
    You searched for:
      <%= render_constraints(params) %>
  </div>

  <%= render :partial => 'did_you_mean' %>
  <%= render :partial => 'facet_selected' %>
  <%= render_pagination_info @response, :entry_name=>'item' %>
  <%= render 'sort_and_per_page' %>
  <%= render 'results_pagination' %>

  <%= render 'document_list' %>

  <%= render 'results_pagination' %>

<% else %>

  <%# render 'home' %>

<% end %>
