<%= simple_form_for [:curation_concern, curation_concern] do |f| %>
  <% if f.error_notification -%>
    <div class="alert alert-error fade in">
      <strong>Wait don't go!</strong> There was a problem with your submission. Please review the errors below:
      <a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
  <% end -%>
  <% if !curation_concern.persisted? %>
    <div class="row">
      <div class="span6">
        <fieldset class="required">
          <legend>
            Attach Your File
          </legend>
          <%= f.input :file,
                      as: :file,
                      label: 'Upload your thesis'
          %>
        </fieldset>
      </div>
    </div>
  <% end %>

  <div class="row">

    <div class="span6">
      <fieldset class="required">
        <legend>Required Information</legend>

        <%= f.input :title,
                    input_html: { class: 'input-xlarge' }
        %>
        <%= f.input :resource_type do %>
          <%= f.select "resource_type", options_for_select(Sufia::Engine.config.resource_types.keys, curation_concern.resource_type.to_a),
                                        {}, {:multiple=>true, :size=>7} %>
        <% end %>
        <%= f.input :creator,        label:'Creator', as: :multi_value, input_html: { class: 'input-xlarge' } %>
        <%= f.input :tag,            label:'Keyword', as: :multi_value, input_html: { class: 'input-xlarge' } %>
        <%= f.input :rights do %>
          <%= f.select "rights", options_for_select(Sufia::Engine::config.cc_licenses, Sufia::Engine::config.cc_licenses.values.last),
                                 {}, {:multiple=>true, :size=>7, :required => true} %>
        <% end %>

        </fieldset>
    </div>

    <div class="span6">
      <fieldset class="optional prompt">
        <legend>Additional Information</legend>
        <%= f.input :subject,              label:'Subject',  as: :multi_value, input_html: { class: 'input-xlarge' }%>
        <%= f.input :based_near,           label:'Location Name',  as: :multi_value, input_html: { class: 'input-xlarge' } %>
        <%= f.input :contributor,          label:'Contributor', as: :multi_value, input_html: { class: 'input-xlarge' } %>
        <%= f.input :language,             label:'Language', as: :multi_value, input_html: { class: 'input-xlarge' } %>
        <%= render "spatial", curation_concern: curation_concern, f: f %>
      </fieldset>
    </div>

  </div>


  <div class="row">
    <div class="span6">
      <%= render "/curation_concern/permission", curation_concern: curation_concern, f: f %>
    </div>
  </div>


  <div class="row">
    <div class="span12 form-actions">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'Cancel', dashboard_index_path, class: 'btn btn-link' %>
    </div>
  </div>

<% end %>
