<%= simple_form_for [:curation_concern, curation_concern] do |f| %>
  <% if !curation_concern.persisted? %>
    <div class="row">
      <div class="span6">
        <fieldset class="required">
          <legend>
            Attach Your File
          </legend>
          <%= f.input :file,
                      as: :file,
                      label: 'Upload your thesis'
          %>
        </fieldset>
      </div>
    </div>
  <% end %>

  <div class="row">

    <div class="span6">
      <fieldset class="required">
        <legend>Required Information</legend>

        <%= f.input :title,
                    input_html: { class: 'input-xlarge' }
        %>
        <%= f.input :subject,as: :multi_value, input_html: { class: 'input-xlarge' }%>
        <%= f.input :based_near,as: :multi_value, input_html: { class: 'input-xlarge' } %>

        </fieldset>
    </div>

    <div class="span6">
      <fieldset class="optional prompt">
        <legend>Additional Information</legend>
        <%= f.input :contributor,            as: :multi_value, input_html: { class: 'input-xlarge' } %>
        <%= f.input :publisher,              as: :multi_value, input_html: { class: 'input-xlarge' } %>
        <%= f.input :language,               as: :multi_value, input_html: { class: 'input-xlarge' } %>
        <%= render "spatial", curation_concern: curation_concern, f: f %>
      </fieldset>
    </div>

  </div>


  <div class="row">
    <div class="span6">
      <%= render "/curation_concern/permission", curation_concern: curation_concern, f: f %>
    </div>
  </div>


  <div class="row">
    <div class="span12 form-actions">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'Cancel', dashboard_index_path, class: 'btn btn-link' %>
      <%= link_to 'View this file', polymorphic_path([:curation_concern, curation_concern]), class:'btn btn-link' %>
    </div>
  </div>

<% end %>
