<table class="table table-striped <%= dom_class(curation_concern) %> related_files">
  <caption class="table-heading">
    <h2>Related Files</h2>
  </caption>
  <thead>
  <tr>
    <th>Related File</th>
    <th>Date Uploaded</th>
    <th>Visibility</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% curation_concern.related_files.each do |related_file| -%>
    <tr class="<%= dom_class(related_file) %> attributes">
      <td class="attribute title">
      <% if can?(:read, related_file) -%>
        <%= link_to related_file, polymorphic_path([:curation_concern, related_file]) %>
      <% else %>
        <%= related_file %>
      <% end %>
      </td>
      <td class="attribute date_uploaded"><%= related_file.date_uploaded %></td>
      <td class="attribute permission"><%= link_to_edit_permissions(related_file) %></td>
      <td>
        <%= link_to raw('<i class="icon-eye-open"></i> View'), polymorphic_path([:curation_concern, related_file]), class: 'btn' if can?(:read, related_file) %>
        <%= link_to raw('<i class="icon-edit"></i> Edit'), edit_polymorphic_path([:curation_concern, related_file]), class: 'btn' if can?(:edit, related_file) %>
        <%= render '/curation_concern/media_display', curation_concern: related_file if can?(:read, related_file)%>
      </td>
    </tr>
  <% end -%>
  </tbody>
</table>
