<%spatial_data=get_spatial_data(curation_concern)%>
<%latitude= spatial_data[:latitude]%>
<%longitude= spatial_data[:longitude]%>
<div class="control-group multi_value optional generic_file_spatials managed">
  <%= f.label get_label(:spatials)%>
  <%= f.hint help_icon(:spatials)%>
  <div class="controls">
    <ul class="listing">
      <% latitude.each_with_index do |lat,index| %>
        <li class="field-wrapper input-append">
          <%= f.text_field :latitude, name:"generic_file[latitude][]", class:"input-small input", value:lat,
                           placeholder:"latitude"%>
          <%= f.error :latitude %>

          <%= f.text_field :longitude, name:"generic_file[longitude][]",
                           id:"generic_file_longitude",value:longitude[index],
                           class:"input-small", placeholder:"longitude"%>
          <%= f.error :longitude%>

        </li>
      <% end %>
      <li class="field-wrapper input-append">
        <%= f.text_field :latitude, name:"generic_file[latitude][]", class:"input-small input", value:"",
                         placeholder:"latitude"%>
        <%= f.error :latitude %>

        <%= f.text_field :longitude, name:"generic_file[longitude][]",
                         id:"generic_file_longitude",value:"",
                         class:"input-small", placeholder:"longitude"%>
        <%= f.error :longitude%>
      </li>
    </ul>
    <%= f.error :spatials, :id => "spatials_error", :class=>"help-inline", :style=>"color:#B94A48" %>
  </div>
</div>


