<% content_for :page_title, curation_concern_page_title(curation_concern) -%>
<% content_for :page_header do -%>
  <h2><%= curation_concern %></h2>
<% end -%>

<%= render partial: "curation_concern/edit_links", locals: {curation_concern: curation_concern} %>

<p>
  <% if can?(:read, curation_concern) -%>
    <%= render '/curation_concern/media_display', curation_concern: curation_concern %>
    <%= render '/curation_concern/export_actions', curation_concern: curation_concern %>
  <% end -%>
</p>
<div class="row">
  <div class="span3">
    <%= render partial: 'curation_concern/thumbnail_display', curation_concern: curation_concern %>
  </div>
  <div class="span9">
    <%= render partial: 'curation_concern/version_check', locals: {curation_concern: curation_concern} %>
    <%= render partial: "curation_concern/attributes", locals: {curation_concern: curation_concern} %>
    <%= render partial: "characterize_details", locals: {curation_concern: curation_concern} %>
  </div>
</div>

<% unless curation_concern.related_files.empty? -%>
  <%= render "related_files", curation_concern: curation_concern %>
<% end -%>
