<% content_for :layout_name, 'vecnet, ' %>
<% content_for :body do %>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="nav-inner">
      <div class="container">
        <div class="row">
          <div class="span6">
            <% if ['qa','jcu_qa'].include?(Rails.env) %>
              <a class="brand" href="https://www.dev.vecnet.org">VecNet</a>
            <% else %>
              <a class="brand" href="https://www.vecnet.org">VecNet</a>
            <% end %>
          </div>
          <div class="span6"> <%= render :partial => 'shared/user_util_links', :formats => [:html] %> </div>
        </div>
      </div>
    </div>
  </div>

  <header class="jumbotron subhead row-fluid">
    <hgroup>
        <div class="container">
          <div id="title-bar" class="row">
            <div id="site-title" class="span6">
              <h1><%= link_to 'Digital Library', root_path%></h1>
              <p class="lead"><%=t('sufia.tagline')%></p>
            </div>
            <div id="site-search" class="span6">
              <%= image_tag "icon_dl.jpg", :class=>'img' %>
              <%= render 'shared/site_search' if show_site_search?%>
              <%= yield(:search_bar) %>
            </div>
          </div>
        </div>
      </div>
    </hgroup>
  </header>

  <%= render 'shared/flash_message' %>

  <div id="main" role="main" class="container <%= yield(:page_class) if content_for?(:page_class)%>">
    <%= render 'shared/breadcrumbs'  if show_breadcrumbs?%>
    <% if content_for?(:page_header) %>
      <div class="row">
        <div class="span12 main-header">
          <%= yield(:page_header) %>
        </div>
      </div>
    <% end %>

    <%= content_for?(:main) ? yield(:main) : yield %>
  </div>

  <%= render '/footer' %>

<% end %>

<%= render :template => 'layouts/boilerplate' %>
